@charset "utf-8";
@import '~nhsuk-frontend/packages/nhsuk';

// Material UI

$primary-color: $nhsuk-link-color;
$primary-dark: #003586;
$primary-light: #5689ea;

// OpenRDT

$section-vertical-padding: 30px;
$strong-weight: 500;

// Bulma

$black: $nhsuk-text-color;

$body-background-color: $color_nhsuk-grey-5;
$body-color: $nhsuk-text-color;
$body-font-size: 17px;

$box-color: inherit;

$card-header-background-color: $primary-color;
$card-header-color: white;

$danger: $nhsuk-error-color;

$label-color: $body-color;

$link: $nhsuk-link-color;
$link-hover: $nhsuk-link-color;

$navbar-background-color: $primary-color;
$navbar-tab-active-background-color: $primary-dark;
$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: $primary-dark;

$section-padding: $section-vertical-padding 1.5rem;
$section-padding-medium: 90px 1.5rem;
$section-padding-large: 180px 1.5rem;

$strong-color: $body-color;

$text-strong: $body-color;

$title-color: $body-color;
$title-size: 24px;
$title-weight: 300;

.media-left {
  color: $body-color;
}

.has-background-link .media-left {
  color: white;
}

a {
  font-weight: $strong-weight;
}

a:hover {
  color: $nhsuk-link-hover-color;
}

.content ul {
  margin-left: 0;
  list-style-type: square;
}

.section + .section {
  padding-top: 0;
}

html.BlueBG {
  background-color: $primary-color;
}

html.BlueBG .openRDTFooter a,
html.BlueBG .openRDTFooter {
  color: white;
}

:export {
  bodycolor: $body-color;
  bodybackgroundcolor: $body-background-color;
  bodyfontsize: $body-font-size;

  dividercolor: $color_nhsuk-grey-3;

  errorcolor: $nhsuk-error-color;

  linkcolor: $link;
  linkhovercolor: $link-hover;

  primarycolor: $primary-color;
  primarylight: $primary-light;
  primarydark: $primary-dark;
  primarytextcolor: $body-color;

  secondarytextcolor: $nhsuk-secondary-text-color;

  sectionverticalpadding: $section-vertical-padding;

  strongweight: $strong-weight;

  progresscolor: $primary-color;
  progressbackgrouncolor: $nhsuk-border-color;

  titlecolor: $title-color;
}
