name: Production Build & Deploy
on:
  push:
    branches: [master]
jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.3.1'
      - name: Yarn install - Root
        run: |
          yarn install
      - name: Yarn install - Client
        working-directory: client
        run: |
          yarn install
      - name: Yarn install - Serverless
        working-directory: serverless
        run: |
          yarn install
      - name: Tests
        run: |
          yarn test
  build-frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: client
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.3.1'
      - name: Yarn install
        run: |
          yarn install
      - name: Build
        run: |
          yarn run build
      - name: Store build folder
        uses: actions/upload-artifact@v1
        with:
          name: build
          path: client/build
      - name: Store test folder
        uses: actions/upload-artifact@v1
        with:
          name: tests
          path: client/e2e
  deploy-ci-backend:
    needs: [build-frontend]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: serverless
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.3.1'
      - name: Yarn install
        run: |
          yarn install
      - name: serverless deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.SERVERLESS_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.SERVERLESS_AWS_SECRET_ACCESS_KEY }}
        run: |
          npx serverless deploy --stage ci
  e2e-test:
    needs: [deploy-ci-backend]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: client
    steps:
      - uses: actions/checkout@master
      - name: Debugging with tmate
        uses: mxschmitt/action-tmate@v2
      - name: download build folder
        uses: actions/download-artifact@v1
        with:
          name: build
          path: client
      - name: download test folder
        uses: actions/download-artifact@v1
        with:
          name: tests
          path: client/tests
      - name: install test dependencies
        run: |
          cd tests && yarn install
      - name: serve build folder
        run: |
          npx serve -l 3000 ./build &
      - name: run e2e tests
        env:
          PUBLIC_URL: http://localhost:3000
        run: |
          cd tests && node_modules/.bin/jest --config=jest.config.js
  deploy-prod-backend:
    needs: [e2e-test]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: serverless
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.3.1'
      - name: Yarn install
        run: |
          yarn install
      - name: serverless deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.SERVERLESS_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.SERVERLESS_AWS_SECRET_ACCESS_KEY }}
        run: |
          npx serverless deploy --stage prod
  deploy-frontend:
    needs: [deploy-prod-backend]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: client
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.3.1'
      - name: Yarn install
        run: |
          yarn install
      - name: Build
        run: |
          yarn run build
        env:
          REACT_APP_STAGE: prod
          REACT_APP_API_BASE: https://iy3gq5bmlg.execute-api.eu-west-2.amazonaws.com
      - name: Deploy to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_PRODUCTION_BUCKET_NAME }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_S3_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_S3_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          SOURCE_DIR: 'client/build'
